#all{
	width: 1100px;
	margin-top: 20px;
	color: #5a5a5a;
	font-size: 14px;
}
#title{
	font-weight: bold;
	border-bottom: 1px solid #EA3939;
	height: 26px;
	line-height: 26px;	
}
#email{
	float: left;
}
#title .contact-us{
	text-align: left;
	display: block;
	float: left;
	padding-left: 10px;
	margin-top: -4px;
	color: black;
}
#left{
	width: 460px;
	height: 460px;
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
#left .thank{
	line-height: 40px;
	font-size: 14px;
}						
#dl .one{
	float: left;
	
}
#dl dd{
	margin-bottom: 20px;
}
#right{
	width: 586px;
	height: 455px;
	float: right;
	margin-top: 50px;
}
#right .address{
	background: url("../imgs/contact/ditu.png") no-repeat ;
	width: 540px;
	height: 404px;
}